* { margin: 0; padding: 0; }

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../img/bg.jpg);
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#foto {
	z-index: 0;
}

#paint {
	z-index: 10;
}

#front {
	z-index: 20;
}

#comandos {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;
	width: 300px;
	height: 100px;
	line-height: 100px;
	margin-left: -150px;
	margin-top: -50px;
	text-align: center;
}

#comandos button {
	border: 1px solid #888;
	border-radius: 4px;
	padding: 8px;
	font-family: georgia;
	font-style: italic;
	font-size: 25px;
	background-color: #fff;
	opacity: 0.9;
	color: #333;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	z-index: 1000;
}

#comandos button:active {
	/*-webkit-transform: scale(0.995);*/
	-webkit-transform: translate(2px, 2px);
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);	
}

#carregando {
	display: none;
	font-family: 'Courier New';
	color: #FFF;
	font-size: 18px;
}


#finalizar {
	display: none;
	padding: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
}


#bg:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.7) 100%);
	z-index: 100;
}

#bg {
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-in-out;
	z-index: 0;
}

#bg>img {
	position: absolute;
	z-index: 10;
}

#alert {
	width: 300px;
	height: 110px;
	position: absolute;
	margin-top: -55px;
	margin-left: -150px;
	top: 50%;
	left: 50%;
	text-align: center;
	font-family: Courier, Arial;
	color: #FFF;
	font-size: 30px;
	display: none;
}